@font-face {
    font-family: 'aktiv_grotesk';
    src: url('../fonts/aktivgrotesk_bd-webfont.woff2') format('woff2'),
         url('../fonts/aktivgrotesk_bd-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'aktiv_grotesk';
    src: url('../fonts/aktivgroteskcd_md-webfont.woff2') format('woff2'),
         url('../fonts/aktivgroteskcd_md-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'aktiv_grotesk';
    src: url('../fonts/aktivgrotesk_lt-webfont.woff2') format('woff2'),
         url('../fonts/aktivgrotesk_lt-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

h1, h2, h3, h4, h5, p, li, a, nav {
    font-family: 'aktiv_grotesk', sans-serif;
    font-weight: 200;
}

h1, .h1, .h1 p {
    font-size: 52px;
    line-height: 60px;

    @include mobile-break {
        font-size: 32px;
        line-height: 40px;
    }
}

h2, .h2, .h2 p {
    font-size: 42px;
    line-height: 50px;
}

h3, .h3, .h3 p {
    font-size: 32px;
    line-height: 40px;
}

h4, .h4, .h4 p {
    font-size: 20px;
    line-height: 32px;
    font-family: 'aktiv_grotesk', sans-serif;
    font-weight: 500;
}

h5, .h5, .h5 p {
    font-size: 18px;
    line-height: 32px;
    font-family: 'aktiv_grotesk', sans-serif;
    font-weight: 500;


    @include mobile-break {
        font-size: 14px;
        line-height: 26px;
    }

    strong {
        font-weight: bold;
    }
}

p, ul, li, a, address {
    display: block;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 24px;

    &:last-of-type {
        margin-bottom: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

li {
    margin-bottom: 0;
}
