
.btn,
button {
    font-size: 15px;
    line-height: 50px;
    font-family: 'aktiv_grotesk_cd_medium', sans-serif;
    padding: 0 31px;
    border: 2px solid $blue;
    background-color: $blue;
    border-radius: 4px;
    display: inline-block;
    color: white;
    transition: all 0.3s;

    @include mobile-break {
        padding: 0 20px;
        line-height: 32px;
    }
    
    &.v-secondary {

        background: none;
        color: $black;
        border: 2px solid transparent;

        &:hover {

            color: $blue;
            background: none;
            border: 2px solid transparent;
    
        }

    }

    &.v-tertiary {

        background: $black;
        color: white;
        border: 2px solid $black;
        @include mobile-break {
            line-height:  50px;
        }

        &:hover {

            color: $black;
            background: none;
            border: 2px solid $black;
    
        }

    }

    &:hover {

        color: $blue;
        background: white;
        border-color: $blue;

    }


    &.v-glide-navigation {
        background: rgba( 255, 255, 255, 0.4);
        border-radius: 4px;
        padding: 12px;
        line-height: 1;
        color: $blue;
        border: none;
    }

    &.v-alt-large {
        padding: 0 70px;

        @include mobile-break {
            padding : 0 40px;
        }
    }

}