.a-mouse-scroll {
        
    display: inline;
      
    span {
        display: block;
        width: 10px;
        height: 10px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
            
        border-right: 2px solid $black;
        border-bottom: 2px solid $black;
        margin: 0 auto;
    }
      
    .unu {
        margin-top: 6px;
    }
    
    .unu, .doi {
        -webkit-animation: mouse-scroll 1s infinite;
        -moz-animation: mouse-scroll 1s infinite;
    }
    
    .unu {
        -webkit-animation-delay: .1s;
        -moz-animation-delay: .1s;
        -webkit-animation-direction: alternate;
    }
    
    .doi {
        -webkit-animation-delay: .2s;
        -moz-animation-delay: .2s;
        -webkit-animation-direction: alternate;
    }
      
     
      
      
      
      
    .mouse {
        height: 40px;
        width: 26px;
        border-radius: 16px;
        transform: none;
        border: 2px solid $black;
        top: 170px;
    }
      
    .wheel {
        height: 10px;
        width: 2px;
        border-radius: 4px;
        display: block;
        margin: 5px auto;
        background: $black;
        position: relative;
    }
      
    .wheel {
        -webkit-animation: mouse-wheel 1.2s ease infinite;
        -moz-animation: mouse-wheel 1.2s ease infinite;
    }
      
    @-webkit-keyframes mouse-wheel {
         0% {
          opacity: 1;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
        }
      
        100% {
          opacity: 0;
          -webkit-transform: translateY(6px);
          -ms-transform: translateY(6px);
          transform: translateY(6px);
        }
    }
      
    @keyframes mouse-scroll {
        0%   { opacity: 0; }
        50%  { opacity: .5; }
        100% { opacity: 1; }
    }
}