{% set upperPattern = craft.assets().volume('brand').filename('upper-pattern.svg').one() %}
{% set lowerPattern = craft.assets().volume('brand').filename('lower-pattern.svg').one() %}

{% set blocks = block.blocks.all() %}
<div class="o-accordian">
    {% if upperPattern %}
    <div class="upper-pattern">
        <img class="min-w-full" src="{{upperPattern.getUrl()}}" />
    </div>
    {% endif %}
    <div class="py-36 bg-grey">
        <div class="container mx-auto px-5 md:px-0">
            {% for accordianBlock in blocks %}
            
                {% set title = accordianBlock.blockTitle %}
                {% set content = accordianBlock.blockContent %}
                {% set image = accordianBlock.blockImage.one() %}

                <div class="accordian-block w-full border border-yellow py-6 px-6 md:py-12 md:pl-24 md:pr-36 mb-6 relative transition-all">
                    <div class="title">
                        {% if title %}
                            <h3 class="text-white leading-6 transition-all">{{ title }}</h3>
                        {% endif %}
                    </div>
                    <div class="content hidden pt-10 transition-all">
                        {% if image %}
                            <div class="flex">
                                {% if content %}
                                    <div class="text-white w-2/3">
                                        {{ content }}
                                    </div>
                                {% endif %}
                                <div class="w-1/3">
                                    <img src="{{image.getUrl('thumbnail')}}" alt="{{title}}" />
                                </div>
                            </div>
                        {% else %}
                             {% if content %}
                                <div class="text-white">
                                    {{ content }}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <span class="plus absolute cursor-pointer top-2 md:top-8 right-5"></span>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if lowerPattern %}
    <div class="lower-pattern">
        <img class="min-w-full" src="{{lowerPattern.getUrl()}}" />
    </div>
    {% endif %}
</div>