{% set slides = block.carouselSlides.all() %}
{% set direction = block.carouselContentLeftOrRight %}


{% if slides %}
<section class="o-carousel">
    <div class="container px-5 my-36 md:px-0 m-auto position-relative">

        <div class="flickity-wrapper outline-none overflow-hidden ">
            {% for slide in slides %}

            {% set title = slide.carouselSlideTitle %}
            {% set content = slide.carouselSlideContent %}
            {% set image = slide.carouselSlideImage.one() %}
            {% set borderColor = slide.carouselSlideImageBorderColour %}
            {% set imageTitle = slide.carouselSlideImageTitle %}
            {% set imageContent = slide.carouselSlideImageContent %}
            {% set link = slide.carouselSlideLink %}

            <div class="w-full container mx-5">
                <div class="flex flex-wrap md:flex-nowrap">
                    <div class="md:w-1/3 md:float-left {% if direction %}order-2 md:order-1{% else %}order-1 md:order-2{% endif %}">
                        <div class="pt-12 md:pt-48">
                            {% if title %}
                                <div class="h2">{{title}}</div>
                            {% endif %}
                            {% if content %}
                                <div class="mt-3 md:mt-8 h4">
                                    {{content}}
                                </div>
                            {% endif %}
                            {% if link %}
                                <div class="mt-9 md:mt-12 ">
                                    {{ link.getLink({
                                        class: 'btn w-1/2 text-center'
                                    }) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if image %}
                    <div class="md:w-2/3 md:float-right {% if direction %}order-1 md:order-2 md:pl-32{% else %}order-2 md:order-1 md:pr-32{% endif %}">
                        <div class="border-2 border-blue p-12 md:p-32">
                            <img src="{{ image.getUrl('carousel') }}" alt="{{title}}">
                            {% if  imageTitle or imageContent %}
                                <hr class="w-full my-16" />
                            {% endif %}
                            {% if imageTitle %}
                                <h4 class="mb-3">{{imageTitle}}</h4>
                            {% endif %}
                            {% if imageContent %}
                                {{ imageContent }}
                            {% endif %}

                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
{% endif %}