{% set asset = block.contentBlockImage.one() %}
{% set title = block.contentBlockTitle %}
{% set subtitle = block.contentBlockSubtitle %}
{% set section = block.contentBlockSection %}
{% set content = block.contentBlockContent %}

<section class="o-content-block">
    <div class="container px-5 md:px-0 mx-auto pt-24 md:pt-28 pb-28">
        <div class="row flex flex-wrap md:flex-nowrap">

            <div class="col col--5-of-12 order-2 md:order-1">
                <h4 class="mb-4 pt-2">{{section}}</h4>
                <h2 class="mb-16 pt-1">{{title}}</h2>
                <h4 class="mb-8 pt-2 regular">{{subtitle}}</h4>
                <div class="content">
                    {{ content }}
                </div>
    
            </div>

            {% if asset %}
            <div class="col col--push-1-of-12 col--1-of-2 order-1 mb-20 md:mb-0 md:order-2">
                <img src=" {{ asset.getUrl('contentSection') }} " alt="{{title}}">
            </div>
            {% endif %}

        </div>
    </div>
</section>