{% set title = block.contactBlockTitle %}
{% set subtitle = block.contactBlockSubtitle %}
{% set section = block.contactBlockSection %}
{% set content = block.contactBlockContent %}
{% set formText = block.contactBlockFormText %}

<section class="o-contact-block">
    <div class="container px-5 md:px-0 mx-auto pt-12 md:pt-36 pb-28">
        <div class="row flex flex-wrap md:flex-nowrap">

            <div class="col col--5-of-12 order-1">
                <h4 class="mb-3">{{section}}</h4>
                <h2 class="mb-16 md:pt-3">{{title}}</h2>
                <h4 class="mb-10 regular">{{subtitle}}</h4>
                <div class="content">
                    {{ content }}
                </div>
            </div>

            
            <div class="col col--push-1-of-12 col--1-of-2 order-2 mb-0">
                {% macro errorList(errors) %}
                    {# {% if errors %}
                        {{ ul(errors, {class: 'errors'}) }}
                    {% endif %} #}
                {% endmacro %}

                {% set message = message ?? null %}

                <form method="post" action="" accept-charset="UTF-8">
                    {{ csrfInput() }}
                    {{ actionInput('contact-form/send') }}
                    {{ redirectInput('contact/thanks') }}

                   
                    <div class="w-full flex space-x-4 pt-10">
                        <div class="w-full md:w-1/2 mb-6">
                            {{ input('email', 'fromEmail', message.fromEmail ?? '', {
                                id: 'from-email',
                                autocomplete: 'email',
                                placeholder: "Email",
                            }) }}
                            {{ message ? _self.errorList(message.getErrors('fromEmail')) }}
                        </div>
                        <div class="w-full md:w-1/2">
                            {{ input('phoneNumber', 'phoneNumber', message.phoneNumber ?? '', {
                                id: 'phoneNumber',
                                autocomplete: 'phoneNumber',
                                placeholder: "Phone Number",
                            }) }}
                            {{ message ? _self.errorList(message.getErrors('phoneNumber')) }}
                        </div>
                    </div>

                    <div class="w-full mb-6">
                        {{ input('text', 'subject', message.subject ?? '', {
                            id: 'subject',
                        }) }}
                        {{ message ? _self.errorList(message.getErrors('subject')) }}
                    </div>

                    <div class="w-full mb-6">
                        {{ tag('textarea', {
                            text: message.message ?? '',
                            id: 'message',
                            class: "py-4 px-8 w-full",
                            name: 'message',
                            rows: 7,
                            cols: 40,
                            placeholder: "Write your message here.."
                        }) }}
                        {{ message ? _self.errorList(message.getErrors('message')) }}
                    </div>

                    <button class="v-alt-large mb-10" type="submit">Send</button>
    
                    {% if formText %}

                        {{ formText }}

                    {% endif %}
                    


                </form>
            </div>
            
        </div>
    </div>
</section>