{% set slides = block.slides.all() %}


{% if slides %}
<section class="o-hero-banner glide">

    {% if slides | length > 2 %}
    <div class="glide__track" data-glide-el="track">
        <div class="glide__slides">
    {% endif %}

    {% for slide in slides %}

    {% set image = slide.slideImage.one() %}
    {% set title = slide.slideTitle %}
    {% set subtitle = slide.slideSubtitle %}
    {% set primaryLink = slide.slidePrimaryLink %}
    {% set secondaryLink = slide.slideSecondaryLink %}

    <article class="slide w-full glide__slide" {% if image %} style="background-image: url( {{ image.getUrl('heroBanner')}} )" {% endif %} >
        <div class="container px-5 pt-28 pb-64 mx-auto md:px-0 md:pt-48 md:pb-64">
            <div class="row">
                <div class="col col--1-of-2">
                    <div class="h1 mb-4 md:mb-8"> {{title}} </div>
                    <div class="h5 pl-8 border-l-2 border-blue mb-10"> {{subtitle}} </div>

                    {% if primaryLink %}

                        {{ primaryLink.getLink({
                            class: 'btn'
                        }) }}

                    {% endif %}

                    {% if secondaryLink %}

                    {{ secondaryLink.getLink({
                        class: 'btn v-secondary'
                    }) }}

                {% endif %}
                </div>
            </div>
            
        </div>
        
    </article>
    {% endfor %}

    {% if slides | length > 2 %}
        </div>
    </div>

    <div class="glide__arrows absolute bottom-32 md:bottom-1/2 flex justify-between w-full px-5 md:px-0" data-glide-el="controls">

        <button class="glide__arrow glide__arrow--left v-glide-navigation fas fa-arrow-left" data-glide-dir="<"> <span>previous</span> </button>
        <button class="glide__arrow glide__arrow--right v-glide-navigation fas fa-arrow-right" data-glide-dir=">"> <span>next</span> </button>

    </div>
    {% endif %}

    <div class="a-mouse-scroll">
        <div class="mouse">
            <div class="wheel"></div>
        </div>
        <div>
            <span class="unu"></span> 
            <span class="doi"></span> 
        </div>
    </div>

</section>
{% endif %}
