{% set manufacturers = block.manufacturers.all() %}

{% if manufacturers %}
<section class="o-manufacturers">
    <div class="container px-5 md:px-0 m-auto pt-2 pb-2 md:pb-60">
        <div class="row flex flex-wrap md:flex-nowrap justify-between space-y-8">
            {% for manufacture in manufacturers %}

                {% set name = manufacture.manufacturersName %}
                {% set logo = manufacture.manufacturersLogo.one() %}
                {% set link = manufacture.manufacturersLink %}

                <article class="col manufature w-1/2 md:w-1/6">
                    {% if link %}
                    <a class="mx-auto align-middle" href="{{ link }}">
                        <img src="{{logo.getUrl('manufacture')}}" alt="{{name}}" />
                    </a>
                    {% else %}  
                        <img class="mx-auto w-full md:w-auto align-middle " src="{{logo.getUrl('manufacture')}}" alt="{{name}}" />
                    {% endif %}
                </article>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}