{% set show = block.mapShow %}

{% if show %}
<div class="o-map mb-24 md:mb-96">
    <div class="container mx-auto">
        <div class="mapouter">
            <div class="gmap_canvas w-full">
                <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=The%20hearing%20clinic&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://fmovies-online.net"></a><br>
                <style>.mapouter{position:relative;text-align:right;height:500px;width:100%;}</style>
                <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style>
            </div>
        </div>
    </div>
</div>
{% endif %}