
{% set blocks = entry.pageContent.all() %}
{% for block in blocks %}

    {% if block.type == "newsletter" %}

        
        
        {% set showNewsletter = block.showNewsletter %}
        {% if showNewsletter %}

            {% set image = newsletter.newsletterImage.one() %}
            {% set title = newsletter.newslettertitle %}
            {% set content = newsletter.newsletterContent %}
            {% set colouredBackground = block.newsletterColouredBackground %}

            <section class="o-newsletter z-10 relative {% if colouredBackground %}v-alt-coloured-background pb-24 -mb-24{% endif %}">
                <div class="container px-5 md:px-0 m-auto {% if colouredBackground %}pt-24{% else %}pt-4{% endif %} pb-32">
                    {% if colouredBackground %}
                    <div class="wave h-24 -top-24"></div>
                    {% endif %}
                    <div class="row">
                        <div class="col col--push-1-of-12 col--10-of-12">  
                            <div class="bg-white rounded-3xl flex flex-wrap md:flex-nowrap">
                                <div class="w-full md:w-5/12">
                                    <img class="rounded-3xl md:rounded-r-none md:rounded-l-3xl" src="{{ image.getUrl() }}" alt="{{title}}" />
                                </div>
                                <div class="w-full md:w-7/12">
                                    <div class="p-6 md:py-12 md:px-14">
                                        {% if title %}
                                            <div class="h2">
                                                {{ title }}
                                            </div>
                                        {% endif %}
                                        {% if content %}
                                            <div class="mt-4">
                                                {{ content }}
                                            </div>
                                        {% endif %}
                                        {% macro errorList(errors) %}
                                            {% if errors %}
                                                {# {{ ul(errors, {class: 'errors'}) }} #}
                                            {% endif %}
                                        {% endmacro %}
                                        {% set message = message ?? null %}
                                        <form class="flex flex-wrap mt-8 md:mt-4" method="post" action="" accept-charset="UTF-8">
                                            {{ csrfInput() }}
                                            {{ actionInput('contact-form/send') }}
                                            {{ redirectInput('contact/thanks') }}
                                            <div class="w-full md:w-8/12 md:pr-8">
                                                {{ input('email', 'fromEmail', message.fromEmail ?? '', { id: 'from-email', placeholder: "Your email here...", autocomplete: 'email' }) }}
                                            </div>
                                            <div class="w-full mt-6 md:w-4/12 md:mt-0">
                                                <button type="submit" class="w-full block v-tertiary">Subscribe</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %}

{% endfor %}
