{% if block.brandedPageBreak == 1 %}
    {% set asset = craft.assets().volume('brand').filename('hearing-wave.png').one() %}
    {% set padding = block.padding.value %}

    <section class="o-pageBreak {{ padding }}">
        <img src="{{asset.getUrl()}}" alt="" />
    </section>

{% endif %}