
{% set logo = craft.assets().volume('brand').filename('alt-logo.svg').one() %}
{% set cry = craft.assets().volume('brand').filename('cryonline.svg').one() %}
{% set upperPattern = craft.assets().volume('brand').filename('upper-pattern.svg').one() %}
{% set footerLinks = footerNavigation.footer.all() %}

<footer id="footer" class="pt-28 relative">

    {% include "organisms/newsletter" %}


    {% if upperPattern %}
    <div class="upper-pattern relative w-full z-20">
        <img class="min-w-full" src="{{upperPattern.getUrl()}}" />
    </div>
    {% endif %}
    <div class="pt-28 bg-grey">
        <div class="container px-5 md:px-0 mx-auto">

            <div class="row flex flex-wrap md:flex-nowrap pb-9">

                <div class="col col--2-of-12">
                    <img src="{{ logo.getUrl() }}" alt="The Hearing clinic" />
                </div>

            </div>

            <div class="row flex flex-wrap md:flex-nowrap pb-5">

                <div class="col col--5-of-12 col--s-full mb-4 md:mb-0">
                    <ul class="flex flex-wrap justify-between pt-12">
                        {% for link in footerLinks %}
                            {% set title = link.title %}
                            {% set url = link.getUrl() %}
                            <li class="w-1/2 md:w-1/3 pb-5"><a class="text-white" href="{{url}}">{{title}}</a></li>
                        {% endfor %}
                       
                    </ul>
                </div>
                <div class="col col--4-of-12 col--push-1-of-12 mb-12 md:mb-0">
                    <p class="text-white pb-5 mb-0"><strong>Giving back</strong></p>
                    <p class="text-white w-full md:w-2/3 pb-3">The Hearing Healthcare centre is a supporter of CRY (Care and Relief for the Young).</p>
                    <img class="mt-4" src="{{cry.getUrl()}}" alt="CRY" />
                </div>
                <div class="col col--2-of-12 pb-12">
                    <p class="text-white pb-5"><strong>Follow us</strong></p>
                    <ul>
                        {% if social.twitter %}
                            <li class="pb-3"><a class="text-white" href="{{social.twitter}}">Twitter</a></li>
                        {% endif%}
                        {% if social.instagram %}
                            <li class="pb-3"><a class="text-white" href="{{social.instagram}}">Instagram</a></li>
                        {% endif%}
                        {% if social.facebook %}
                            <li class="pb-3"><a class="text-white" href="{{social.facebook}}">Facebook</a></li>
                        {% endif%}
                        {% if social.linkedin %}
                            <li class="pb-3"><a class="text-white" href="{{social.linkedin}}">LinkedIn</a></li>
                        {% endif%}
                    </ul>
                </div>

            </div>


        </div>
    </div>

</footer>