{% set logo = craft.assets().volume('brand').filename('Logo.png').one() %}
<header id="header" class="headroom">
    <div class="container m-auto px-5 md:px-0">
           
        <div class="flex w-full justify-between py-4 md:pt-8 md:pb-6">
            <div class="w-1/2 md:w-1/4 my-auto md:my-0">
                {% if logo %}
                    <img src="{{logo.getUrl() }}" alt="The Hearing Clinic" />
                {% endif %}
            </div>
        
            <div class="w-1/2 float-right">
                <div class="burger text-right md:hidden">
                    <button class="hamburger hamburger--spin" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>

                <nav class="fixed hidden bg-white z-10 left-0 top-20 w-full h-full md:top-auto md:bg-transparent md:z-0 md:h-auto md:w-auto md:relative md:block">
                    <ul class="md:flex md:justify-between">
                        <li class="md:inline-block">
                            <a class="py-5 px-6 md:pl-0" href="">About</a>
                        </li>
                        <li class="md:inline-block">
                            <a class="py-5 px-6" href="">Hearing Aids</a>
                        </li>
                        <li class="md:inline-block">
                            <a class="py-5 px-6" href="">Hearing Loss</a>
                        </li>
                        <li class="md:inline-block">
                            <a class="py-5 px-6" href="">Hearing Protection</a>
                        </li>
                        <li class="md:inline-block"><a class="py-5 px-6" href="">Contact Us</a></li>
                        <li class="md:inline-block v-alt-search-icon">
                            <a class="py-5 px-6 pr-0 md:text-right" href="">
                                <i class="fas fa-search"></i>
                                <span class="md:hidden">Search</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
           
    </div>
</header>