/** Variables examples are font-face, fonts, breakpoints, colors used across
all pages through inclusion in different files. Effectively, $variables & 
arrays of break points. **/

// @font-face {
//     font-family: 'Whitney Book';
//     src: url('../fonts/Whitney-Book.woff2') format('woff2'),
//         url('../fonts/Whitney-Book.woff') format('woff');
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Whitney Bold';
//     src: url('../fonts/Whitney-Bold.woff2') format('woff2'),
//         url('../fonts/Whitney-Bold.woff') format('woff');
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }


/** Variables **/
$blue: #76CEE4;
$yellow: #F8CD37;
$lightYellow: #FFFAEC;
$black: #41474F;

$box-shadow: -7px 7px 5px 0px rgba(0,0,0,0.25);
$maxWidth: 1400px;
$lineHeight: 38px;

// Font sizes
$font-small: 14px;
$font-sm-med: 15px;
$font-medium: 17px;
$font-large: 20px;
$font-xlarge: 37px;
$font-xxlarge: 50px;
$font-xxxlarge: 64px;

// Letter spacing
$letter-space-small: 0em;
$letter-space-med: 0.25em;

// Line Height:
$lg-line-height: 25px;
$line-height-small: $font-small * 1.8;
$line-height-sm-med: $font-sm-med * 1.2;
$line-height-medium: $font-medium * 1.2;
$line-height-large: $font-large * 1.2;
$line-height-xlarge: $font-xlarge * 1.2;
$line-height-xxlarge: $font-xxlarge * 1.2;
$line-height-xxxlarge: $font-xxxlarge * 1.2;

// Font & Line Height reduction setting
$mobile-break-font-reduction: 0.9;
$mobile-font-reduction: 0.8;

// Media Widths
$full-screen: 1800px;
$semi-full-screen: 1500px;
$desktop-large: 1300px;
$desktop: 1150px;
$mobile-break: 850px;
$mobile-actual-break: 700px;
$mobile: 450px;

.font-small-include {
    font-size: $font-small;
    line-height: $line-height-small;

    @include mobile-break {
        font-size: $font-small * $mobile-break-font-reduction;
        line-height: $line-height-small * $mobile-break-font-reduction;
    }
    @include mobile {
        font-size: $font-small * $mobile-font-reduction;
        line-height: $line-height-small * $mobile-font-reduction;
    }
}

.font-sm-med-include {
    font-size: $font-sm-med;
    line-height: $line-height-sm-med;

    @include mobile-break {
        font-size: $font-sm-med * $mobile-break-font-reduction;
        line-height: $line-height-sm-med * $mobile-break-font-reduction;
    }
    @include mobile {
        font-size: $font-sm-med * $mobile-font-reduction;
        line-height: $line-height-sm-med * $mobile-font-reduction;
    }
}

.font-medium-include {
    font-size: $font-medium;
    line-height: $line-height-medium;

    @include mobile-break {
        font-size: $font-medium * $mobile-break-font-reduction;
        line-height: $line-height-medium * $mobile-break-font-reduction;
    }
    @include mobile {
        font-size: $font-medium * $mobile-font-reduction;
        line-height: $line-height-medium * $mobile-font-reduction;
    }
}

.font-large-include {
    font-size: $font-large;
    line-height: $line-height-large;

    @include mobile-break {
        font-size: $font-large * $mobile-break-font-reduction;
        line-height: $line-height-large * $mobile-break-font-reduction;
    }
    @include mobile {
        font-size: $font-large * $mobile-font-reduction;
        line-height: $line-height-large * $mobile-font-reduction;
    }
}

.font-xlarge-include {
    font-size: $font-xlarge;
    line-height: $line-height-xlarge;

    @include mobile-break {
        font-size: $font-xlarge * $mobile-break-font-reduction;
        line-height: $line-height-xlarge * $mobile-break-font-reduction;
    }
    @include mobile {
        font-size: $font-xlarge * $mobile-font-reduction;
        line-height: $line-height-xlarge * $mobile-font-reduction;
    }
}

.font-xxlarge-include {
    font-size: $font-xxlarge;
    line-height: $line-height-xxlarge;

    @include mobile-break {
        font-size: $font-xxlarge * $mobile-break-font-reduction;
        line-height: $line-height-xxlarge * $mobile-break-font-reduction;
    }
    @include mobile {
        font-size: $font-xxlarge * $mobile-font-reduction;
        line-height: $line-height-xxlarge * $mobile-font-reduction;
    }
}

.font-xxxlarge-include {
    font-size: $font-xxxlarge;
    line-height: $line-height-xxxlarge;

    @include mobile-break {
        font-size: $font-xxxlarge * $mobile-break-font-reduction;
        line-height: $line-height-xxxlarge * $mobile-break-font-reduction;
    }
    @include mobile {
        font-size: $font-xxxlarge * $mobile-font-reduction;
        line-height: $line-height-xxxlarge * $mobile-font-reduction;
    }
}



