.o-accordian {

    .accordian-block {
        &.active {
            background: white;
            
            .title h3,
            .content p {
                color: $black;
            }

            .plus {
                background:
                    linear-gradient($black,$black),
                    linear-gradient($black,$black);
                background-position:center;
                background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
                background-repeat: no-repeat;
            }
        }
    }

    .plus {
        display: block;
        width: 50px;
        height: 50px;
        
        background:
            linear-gradient(#fff,#fff),
            linear-gradient(#fff,#fff);
        background-position:center;
        background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
        background-repeat: no-repeat;
    }
    

}