.o-hero-banner {

    overflow: hidden;

    .slide {

        background-size: cover;
        background-repeat: no-repeat;

        .h1 {

            strong {
                color: $blue;
            }
    
        }

    }

    .glide__arrow {
        span {
            display: none;
        }
    }

    &::after {

        content: "";
        position: absolute;
        bottom: -282px;
        width: 100%;
        height: 420px;
        background-image: url("../img/white-wave.png");
        background-repeat: no-repeat;
        background-size: cover; 
        z-index: 100;

        @include mobile-break {
            height: 100px;
            bottom: 0;
        }

    }

    .a-mouse-scroll {
        position: absolute;
        left: 50%;
        bottom: 3%;
        transform: translateX(-50%);

        @include mobile-break {
            bottom: 100px;
        }
    }
    

}