.o-newsletter {

    &.v-alt-coloured-background {
        background: $lightYellow;
        position: relative;
        .wave {
            content: "";
            background-image: url("../img/light-yellow-wave.png");
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            left: 0;
            width: 100%;
        }
    }

}