.o-pageBreak {
    overflow: hidden;
    img {
        @include mobile-break {
            height: 150px;
            width: 650px;
            max-width: none;
            display: block;
        }
    }

}