{% extends "layout" %}
{% block content %}
    {% if entry.pageContent is defined %}
        {% for block in entry.pageContent.all() %}
            {% switch block.type %}
                {% case "heroBanner" %}
                    {% include "organisms/hero-banner" %}
                {% case "contentBlock" %}
                    {% include "organisms/content-block" %}
                {% case "manufacturers" %}
                    {% include "organisms/manufacturers" %}
                {% case "pageBreak" %}
                    {% include "organisms/page-break" %}
                {% case "carousel" %}
                    {% include "organisms/carousel" %}
                {% case "contactBlock" %}
                    {% include "organisms/contact-block" %}
                {% case "map" %}
                    {% include "organisms/map" %}
                {% case "accordian" %}
                    {% include "organisms/accordian" %}
                {% endswitch %}
        {% endfor %}
    {% endif %}
{% endblock %}