<!DOCTYPE html>
{% include 'includes/header-core' %}
<body>
    {% include 'includes/header' %}
    <main>
        <div class="loading-overlay"></div>
        {% block content %}
        {% include 'matrix-blocks/page-content' %}
        {% endblock %}
    </main>
    {% include 'includes/footer' %}
    {% include 'includes/footer-scripts' %}
</body>
</html>